@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 94%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 19%;
    --primary-foreground: 0 0% 80%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 1% 25%;
    --muted-foreground: 0 8% 80%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  kbd {
    @apply pointer-events-none inline-flex h-5 select-none items-center gap-1 rounded border bg-muted px-1.5 font-mono text-sm font-medium text-muted-foreground;
  }

  h1 {
    @apply text-4xl lg:text-6xl font-caveat;
  }

  h2 {
    @apply text-4xl lg:text-5xl font-semibold font-caveat text-zinc-300;
  }

  h3 {
    @apply font-semibold;
  }
}

@layer utilities {
  .container {
    @apply mx-auto;
    max-width: 1375px;
    padding-inline: clamp(1rem, 5vw, 2rem);
  }

  .animate-float {
    animation: float 8s ease-in-out infinite;
  }

  .dot-suffix {
    @apply after:content-[''] after:size-2 after:bg-destructive after:rounded-full after:inline-block after:ml-2;
  }
}
